.wrong .alert-wrapper {
     
    .alert-title {
      text-align: center !important;
    }
    .alert-sub-title {
      text-align: center !important;
    }
  
    .alert-message {
      text-align: center !important;
    }
  
    .alert-button-inner {
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }
  }

  ion-icon {
    font-size: 35px; //Preferred size here
    margin-right: 1%;
}