<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Create room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formlogin">
    <ion-item>
      <ion-label>Set username</ion-label>
      <ion-input [(ngModel)]="username" placeholder="Username" formControlName="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Set roomname</ion-label>
      <ion-input [(ngModel)]="roomname" placeholder="Roomname" formControlName="room"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Set password</ion-label>
      <ion-input [(ngModel)]="password" placeholder="Password" type="password" formControlName="pass"></ion-input>
    </ion-item>
  </form>
  
  <ion-item lines="none">
  <ion-button slot="end" size="medium" class="button" (click)="click()" color="secondary">
    <ion-label>Create</ion-label>
  </ion-button>

  <ion-button slot="start" size="medium" routerLink="/home" color="secondary">
    <ion-label>Back</ion-label>
  </ion-button>
</ion-item>
</ion-content>