<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button>
            <ion-icon name="menu-outline"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <ion-title (click)="openEndTitle()" routerLink="/home">Friendly Finder</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-item (click)="openModal(item)" lines="none">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Join room</ion-label>
        </ion-item>

        <ion-item routerLink="create/" (click)="openEnd()" lines="none">
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          <ion-label>Create room</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>

    <ion-footer class="bar-stable">
      <ion-item routerLink="settings/" (click)="openEnd()" lines="none">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>

      <ion-item lines="none" disabled>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Leave room</ion-label>
      </ion-item>

      <ion-item color="danger" lines="none" disabled>
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Shut down app</ion-label>
      </ion-item>
    </ion-footer>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>