/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.wrong .alert-wrapper {
 
    border-radius: 0px !important;
    background-color: var(--ion-background-color);
    .alert-title.sc-ion-alert-ios {
        font-size: 23px;
        margin-bottom: -6%;
        color: black;
    }

    .alert-input.sc-ion-alert-ios {
        text-align: center;
    }
  }

  .alert .alert-wrapper {
      border-radius: 0px !important;

      .alert-title.sc-ion-alert-ios {
        font-size: 23px;
        margin-bottom: 7%;
    }

    .alert-sub-title.sc-ion-alert-ios {
        font-size: 17px;
    }
  }

  
.alert-radio-label.sc-ion-alert-md {

    color: var(--ion-text-color) !important;
  
}

.alerttext {
    
    .alert-message.sc-ion-alert-md {
        font-size: 15px;
        text-align: center;
    }
}

