<ion-header>
    <ion-toolbar>
        <ion-title>Chat</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="noScroll">
    <div class='chatbox_body'>
        <!--         <div class='message receive'>
            <div class='message_text'>yeet</div>
        </div> -->

        <div class="message receive" *ngFor="let message of messages">
            <p class='message_text'>{{message.content}}</p>
            <p class='message_user'>{{message.name}}</p>
        </div>

        <!--         <div class='message sender'>
            <div class='message_text'>status?</div>
        </div> -->

    </div>
    <div class='chatbox_input'>
        <ion-input [(ngModel)]="msginput" placeholder='Type something here'></ion-input>
        <button (click)="send()">
        <ion-icon name="send"></ion-icon>
      </button>
    </div>
</ion-content>