<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Map Theme</ion-label>
    <ion-select  [(ngModel)]="maptheme" placeholder="Select One">
      <ion-select-option value="mapbox://styles/mooregrimm/ck8k40yzs0yz51iocd9pemxhc">Dark urban</ion-select-option>
      <ion-select-option value="mapbox://styles/n8rajo00/ck8oc5vrz0fco1irucscrh8b9">Satellite</ion-select-option>
      <ion-select-option value="mapbox://styles/mooregrimm/ck8pg261v0bpf1jn38qbpwimp">Nature light</ion-select-option>
      <ion-select-option value="mapbox://styles/n8rajo00/ck8oezis73ity1iodrz1xt8jt">Default theme</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Marker Color</ion-label>
    <ion-select [(ngModel)]="markercolor" placeholder="Choose">
      <ion-select-option value="#261ec7">Blue</ion-select-option>
      <ion-select-option value="#FF0000">Red</ion-select-option>
      <ion-select-option value="#ff00ff">Pink</ion-select-option>
      <ion-select-option value="#FFFFFF">White</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
  <ion-label>Theme</ion-label>
    <ion-button color="secondary" (click)="changeTheme('default')">default</ion-button>
    <ion-button  color="secondary" (click)="changeTheme('nightmode')">nightmode</ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Location update interval</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="1m">1 Minute</ion-select-option>
      <ion-select-option value="2m">2 Minutes</ion-select-option>
      <ion-select-option value="5m">5 Minutes</ion-select-option>
      <ion-select-option value="10m">10 Minutes</ion-select-option>
      <ion-select-option value="realtime">Real-time</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="click()" class="settingsbutton" expand="block" color="secondary">
    <ion-label>Save</ion-label>
  </ion-button>

  <ion-button routerLink="/home" class="settingsbutton" expand="block" color="secondary">
    <ion-label>Back</ion-label>
  </ion-button>

  <!-- <ion-button routerLink="/home" color="secondary">
    <ion-label>Back</ion-label>
  </ion-button> -->
</ion-content>