
.button {
    margin-top: 2%;
    margin-left: 2%;
}

alert-radio-label {
    color: black;
}

.testi {
    border-bottom: 1px solid grey !important;
}

.alert-radio-label.sc-ion-alert-md {

    color: var(--ion-text-color) !important;
  
}

.settingsbutton {

    margin-top: 5%;
    width: 96% !important;
    
}

