.settings {
    background-color: rgb(247, 247, 247);
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 17px;
    margin-left: -3%;
    border-color: rgb(207, 207, 207); 
  border-width: .05em; 
  border-style: solid; margin-right: -1px;
}

.button {
    margin-top: 2%;
    margin-left: 2%;
}